/* Default and Mobile devices */
body{
    background-image: url("../images/deviceimages/universityPrinceton.png");
    background-repeat: no-repeat;
    background-color: #cfd8dc;
}
.outHead1{
    background-color: rgba(97,97,97,0.4);
    margin: 5px 30px;
    border-radius: 20px;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
}
.head1{
    text-align: center;
    color: rgba(238,238,238,0.9);
    font-size: 50px;
    font-family: Lato-Regular;
    font-weight: bold;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
}
.BackBox{
    text-align: center;
    margin: 10px 5px 5px;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
}
.inputBox{
    background-color: rgba(250,250,250,0.55);
    border: 2px solid rgba(66,66,66,0.6);
    border-radius: 10px;
    font-family: Lato-Regular;
    color: black;
    height: 35px;
    margin: 10px auto;
    outline-width: 0;
    padding-left: 35px;
    position:relative;
    text-align: left;
    width: 250px;
    z-index: 0;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
}
.button {
    position: relative;
    font-family: Lato-Regular;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    width: 250px;
    border-width: 0;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: rgba(66,165,245,0.9);
    color: azure;
    transition: background-color .3s;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
}
#icoUser,#icoPass{
    position: absolute;
    color: rgba(33,150,243,0.8);
    z-index: 1;
    padding: 15px 7px;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
}

.button:hover, .button:focus {
    background-color: rgba(98,194,255,1);
}

.button > * {
    position: relative;
}
.button:active {
    background-color: rgba(0,119,194,1);
}
.inputBox:hover{
    border: 2px solid rgba(66,66,66,0.5);
}
.inputBox:active{
    border: 2.2px solid rgba(66,66,66,0.2);
}
.inputBox:focus{
    border: 2.2px solid rgba(66,66,66,0.3);
}
/* For Tablet Size */
@media only screen and (min-width: 768px) {
    body{
        background-image: url("../images/deviceimages/universityIllinoisChicago768.png");
    }
    .outHead1{
        margin: 30px 30px 10px;
    }
    .head1{
        font-size: 75px;
    }
    .BackBox{
        margin-top: 90px;
    }
    .inputBox{
        width: 300px;
    }

}
@media only screen and (min-width: 1000px) {
    body{
        background-image: url("../images/university_of_chicago_chicago_illinois_98212_1920x1080.png");
        width: 100%;
    }
    .outHead1{
        margin: 80px 10% 10px;
    }
    .head1{
        font-size: 95px;
    }
    .BackBox{
        margin-top: 90px;
    }
    .inputBox{
        width: 300px;
    }

}
/* FONT FACE TYPES AND TRANSITION KEYFRAMES */
@font-face {
    font-family: Montserrat-SemiBold;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: Montserrat-Light;
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: Lato-Regular;
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/* END OF FONT FACE AND TRANSITION KEYFRAMES */